

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Common container */
.container {
    max-width: 1200px;
    margin: 0 auto;

}

/* Header */
header {
    padding: 2px 0;
    
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

#omor {
    color: #fd6e0a;
}

/* Navigation items */
.nav-items {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

/* Button */
.button {
    background-color: #fd6e0a;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    margin: 10px;
}
/* End of Navigation */
/* Hero full-width background */
.hero_parent {
    background-color: rgba(225, 246, 206, 0.797);
}

/* Hero layout */
.hero_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px; 
}

/* Hero left */
.hero_left_side {
    width: 50%;
}

.hero_left_side h2 {
    font-size: 45px;
    font-weight: bold;
}
/* 
.hero_left_side .p_heder {
    font-size: 25px;
    font-weight: 600;
} */

/* Hero right */
.hero_Right_side {
    width: 40%;
    text-align:right;
}

.hero_Right_side img {
    max-width: 100%;
     width: 500px;
}